@import url("https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@300&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: #fff;
    font-family: "Poppins", sans-serif;
    background-color: #03001C;
    scroll-behavior: smooth;
}

img {
    display: block;
    object-fit: cover;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 4rem;
    font-family: "Allura", serif;
}

section {
    max-width: 600px;
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
}

.contianer {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.time__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    justify-items: center;
    align-items: center;
    position: relative;
}

.time__container img {
    width: 100%;
}

.timer__display {
    display: flex;
    row-gap: 5px;
    position: absolute;
    top: 50%;
}

.timer__display span {
    font-size: 5rem;
    color: #03001C;
    font-weight: bolder;
}



.btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: large;
    font-weight: bold;
    padding: 1.4rem 1.9rem;
    border-radius: 49%;
    background-color: #fff;
    color: #404EED;
    margin: 1.5rem;
    cursor: pointer;
}


@media screen and (max-width: 500px) {
    .timer__display span {
        font-size: 3rem;
        color: #03001C;
        font-weight: bolder;
    }

    .btn {
        font-size: medium;
        padding: 1.2rem 1.6rem;
        border-radius: 49%;
        background-color: #fff;
        color: #404EED;
        margin: 1.5rem;
        cursor: pointer;
    }
}